################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AssemblyInfo/bin/Debug
/AssemblyInfo/obj/Debug
/UnitTests.AssemblyInformation/obj/Debug
