################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AssemblyInfo/bin
/AssemblyInfo/obj
/UnitTests.AssemblyInformation/bin
/UnitTests.AssemblyInformation/obj
/TestResults
/.vs